module.exports = {
  env: process.env.NODE_ENV,
  dev: process.env.NODE_ENV !== 'production',
  prod: process.env.NODE_ENV === 'production',
  ports: {
    https: 443,
    http: 80,
    dev: 3000
  }
}
